ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
SortIncludes: CaseSensitive
SortUsingDeclarations: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
AlignEscapedNewlines: DontAlign
AlignAfterOpenBracket: AlwaysBreak
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None
BreakConstructorInitializers: AfterColon