[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "external/id3v2lib"]
	path = external/id3v2lib
	url = https://github.com/Subtixx/id3v2lib.git
[submodule "external/libcheevos/libretro-common"]
	path = external/libcheevos/libretro-common
	url = https://github.com/libretro/libretro-common.git
[submodule "external/argagg"]
	path = external/argagg
	url = https://github.com/vietjtnguyen/argagg.git
[submodule "external/rcheevos"]
	path = external/rcheevos
	url = https://github.com/RetroAchievements/rcheevos.git
[submodule "external/nanosvg"]
	path = external/nanosvg
	url = https://github.com/memononen/nanosvg.git
[submodule "external/libretro-common"]
	path = external/libretro-common
	url = https://github.com/libretro/libretro-common.git
[submodule "external/breakpad"]
	path = external/breakpad
	url = https://github.com/google/breakpad.git
[submodule "external/doxygen-awesome-css"]
	path = external/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "external/awesome-code-element"]
	path = external/awesome-code-element
	url = https://github.com/GuillaumeDua/awesome-code-element.git
[submodule "external/cmake-git-semver"]
	path = external/cmake-git-semver
	url = https://github.com/Subtixx/cmake-git-semver.git
